html {
    background-image: url("../img/darkCastleLobby.jpg");
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
}

#popup {
    position: fixed;
    top: 5%;
    left: 20%;
    width: 1000px;
    height: 500px;
    padding: 10px;
    border: 2px solid #000;
    background-color: white;
    font-size: 20px;
    font-family: fantasy;
}

#click-zone1 {
    position: absolute;
    top: 25%;
    left: 47.5%;
    width: 120px;
    height: 200px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);;
}

#popup1{
    display: none;
    position: fixed;
    top: 5%;
    left: 38%;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 2px solid #000;
    background-color: white;
}

#click-zone2 {
    position: absolute;
    top: 70%;
    left: 83.5%;
    width: 150px;
    height: 300px;
    cursor: pointer;
}

#popup2{
    display: none;
    position: fixed;
    top: 5%;
    left: 38%;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 2px solid #000;
    background-color: white;
}

#click-zone3 {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 180px;
    height: 360px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.5);;
}

#popup3{
    display: none;
    position: fixed;
    top: 5%;
    left: 38%;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 2px solid #000;
    background-color: white;
}